@font-face {
    font-family: Proza;
    src: url(Font/Proza_Libre/ProzaLibre-Regular.ttf)
}
@font-face {
    font-family: ProzaBold;
    src: url(Font/Proza_Libre/ProzaLibre-Bold.ttf)
}
@font-face {
    font-family: ProzaSemi;
    src: url(Font/Proza_Libre/ProzaLibre-SemiBold.ttf)
}
@font-face {
    font-family: ProzaMedium;
    src: url(Font/Proza_Libre/ProzaLibre-Medium.ttf)
}
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(111deg, #182D62, #4d4ba6);
    font-family: Proza;
}
body h1 {
    font-family: ProzaBold;
}
body h2 {
    font-family: ProzaMedium;
}
body h3 {
    font-family: ProzaMedium;
}
body h4 {
    font-family: ProzaSemi;
}
body p, a {
    font-family: Proza;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 60px 240px;
    width: 100%;
}
.Intro {
    background-color: #88a7ef;
    border-radius: 15px;
    padding: 50px;
    width: 100%;
    
}
.Intro .Two-Column {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    
}
.Intro .Column {
    flex: 1;
    max-width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
}
.Intro .Left {
    text-align: left;
    margin-bottom: 80px;
    max-width: 100%;
}
.Intro #Box-Contact {
    background-color: #6664E7;
    border-radius: 8px;
    width: 100%;
    max-width: 450px;
    padding: 10px;
}
.Intro .Right {
    padding: 10px;
    width: 100%;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Intro img {
    border-radius: 50px;
}
.Intro #Box-Profile {
    border-radius: 8px;
    background: linear-gradient(-35deg, #182D62, #6664E7);
    color: #ffffff;
}

.SkillContent {
    background-color: #88a7ef;
    border-radius: 15px;
    padding: 30px;
    margin-top: 32px;
    width: 100%;
}
.SkillContent .Two-Row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.SkillContent .Row {
    display: flex;
    flex-direction: row;
    gap: 64px;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
}
.SkillContent .InnerRow {
    text-align: left;
    line-height: 30px;
    width: 100%;
    max-width: 520px;
    padding: 0px 40px; 
}
.SkillContent #Row2 {
    width: 100%;
}
.SkillContent .Image {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 10px;
    width: 100%;
}
.SkillContent .Image img {
    max-width: 200px;
}
.SkillContent .Image h2 {
    font-size: 36px; 
}
.Overall-Content {
    margin-top: 32px;
    background-color: #88a7ef;
    border-radius: 15px;
    padding: 50px;
    width: 100%;
}
.Overall-Content .Two-Row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
}
.Overall-Content .Two-Column {
    background-color: #B6CCF5;
    gap: 60px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%;
}
.Overall-Content .Column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
.Project {
    background-color: #88a7ef;
    border-radius: 15px;
    padding: 50px;
    margin-top: 32px;
    width: 100%;
}
.Project .Two-Row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
}
.Project .Row {
    text-align: left;
    width: 100%;
}
.Project .Two-Column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    width: 100%;
}
.Project #Email {
    gap: 340px;
}
.Project .Column {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Project .Button {
    text-align: left;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.Button:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 1440px) {
    main {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    .Intro {
        padding: 0px;
        gap: 20px;
        width: 100%;
        text-align: center;
    }
    .Intro .Two-Column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .Intro .Column {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: stretch;
        flex-direction: column;
    }
    .Intro #Box-Contact {
        text-align: left;
        background-color: #6664E7;
        border-radius: 8px;
        width: 100%;
    }
    .SkillContent .Row {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: stretch;
        justify-content: center;
    }
    .SkillContent .InnerRow {
        text-align: left;
        line-height: 30px;
        width: 100%;
    }
    .SkillContent .Two-Row {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
    }
    .SkillContent .Column {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .SkillContent .Row {
        display: flex;
        flex-direction: column;
    }
    .SkillContent .Image img {
        max-width: 100px;
    }
    .SkillContent #Row2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two equal columns */
        grid-gap: 10px; /* Optional gap between grid items */
        width: 100%;
    }
    .SkillContent .Image h2 {
        width: 100%;
        font-size: 24px;
    }
    .Overall-Content .Two-Column {
        background-color: #B6CCF5;
        gap: 60px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        width: 100%;
    }
    .Overall-Content #Image {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .Project {
        padding: 0px;
        margin-top: 24px;
        width: 100%;
    }
    .Project .Two-Column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }
    .Project .Column {
        padding: 20px;
        width: 100%;
    }
    .Project #Email {
        gap: 30px;
    }
}
